:root {
  font-family: "Avenir";
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 600px;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}
